<!doctype html>
<html lang="{{ config.language }}">
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ config.hcard.u.name }}</title>
  <link rel="authorization_endpoint" href="{{ config.me }}/auth">
  <link rel="token_endpoint" href="{{ config.me }}/token">
  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
  <style>
    body.dark {
      --bg-color: #000;
      --bg-secondary-color: #131316;
      --font-color: #f5f5f5;
      --color-grey: #ccc;
      --color-darkGrey: #777;
    }
    .background {
      background-color: var(--bg-secondary-color);
    }
    .h-card {
      background-color: var(--bg-color);
    }
  </style>
  <script>
    if (window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.body.classList.add('dark');
    }
  </script>
</head>
<body>
  <div class="background is-center is-full-screen">
  <div class="h-card card">
    <header>
      <img class="u-photo" src="{{ config.hcard.u.photo }}" alt="" />
      <h4><a class="p-name u-url" href="{{ config.hcard.u.url }}">{{ config.hcard.u.name }}</a></h4>
    </header>
    <address>
      <a class="u-email" href="mailto:{{ config.hcard.u.email }}">{{ config.hcard.u.email }}</a><br>
      <span class="p-street-address">{{ config.hcard.p["street-address"] }}</span><br>
      <span class="p-locality">{{ config.hcard.p.locality }}</span><br>
      <span class="p-region">{{ config.hcard.p.region }}</span><br>
      <span class="p-postal-code">{{ config.hcard.p["postal-code"]}}</span><br>
      <span class="p-country-name">{{ config.hcard.p["country-name"] }}</span>
    </address>
    <ul>
      {% for service, url in config.hcard["rel-me"].items() %}
        <li><a href="{{ url }}" rel="me">{{ service }}</a></li>
      {% endfor %}
    </ul>
  </div>
  </div>
</body>
</html>
